.footer {
	padding: 60px 0;
	min-width: $smol;

	background-color: var(--bc-background);

	@media screen and (min-width: $desktop) {
		display: flex;
	}
}

.footer__container {
	display: flex;
	flex-wrap: wrap;

	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;

	@media screen and (max-width: ($mobile - 1px)) {
		width: 100%;
	}
	@media screen and (min-width: $mobile) and (max-width: ($tablet - 1px)) {
		width: $mobile;
	}
	@media screen and (min-width: $tablet) and (max-width: ($desktop - 1px)) {
		width: $tablet;
	}
	@media screen and (min-width: $desktop) {
		width: $desktop;
		justify-content: space-between;
		align-items: baseline;
	}
}

// address-block

.footer__address-block {
	margin-bottom: 60px;
	text-align: center;
	flex-basis: 100%;

	@media screen and (min-width: $tablet) and (max-width: ($desktop - 1px)) {
		flex-basis: 50%;
	}

	@media screen and (min-width: $desktop) {
		text-align: start;
		flex-basis: auto;
		margin-bottom: 0;
	}
}

.footer__logo {
	display: block;
	margin-bottom: 20px;
}

.footer__address-set {
	//
}

.footer__address-item {
	font-style: normal;
	@include font(400, 14px, 1.71, 0.03em);
	color: var(--bc-white);

	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: var(--timing-function);
}

.footer__address-item + .footer__address-item {
	color: var(--bc-semi-white);
	margin-top: 8px;

	@media screen and (min-width: $desktop) {
		margin-top: 9px;
	}
}

.footer__address-item:hover,
.footer__address-item:focus {
	color: var(--bc-blue);
}

// social-block

.footer__social-block {
	margin-bottom: 60px;
	text-align: center;
	flex-basis: 100%;

	@media screen and (min-width: $tablet) and (max-width: ($desktop - 1px)) {
		flex-basis: 50%;
	}

	@media screen and (min-width: $desktop) {
		text-align: start;
		flex-basis: auto;
		margin-bottom: 0;
	}
}

.footer__social-block-header {
	margin-top: 0;
	margin-bottom: 20px;
	padding: 0;

	@include font(400, 14px, 1.71, 0.03em);
	color: var(--bc-white);
	text-transform: uppercase;
}

.footer__social-set {
	display: flex;
	justify-content: center;

	@media screen and (min-width: $desktop) {
		justify-content: flex-start;
	}

	gap: 10px;
}

.footer__social-link {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--bc-white);
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.1);
	outline: transparent;

	transition-duration: 250ms;
	transition-timing-function: var(--timing-function);
	transition-property: background-color;

	&:hover,
	&:focus {
		background-color: var(--bc-blue);
	}
}

.footer__logo-social {
	fill: currentColor;
}

// subscribe-block
