.footer__sub-block {
	text-align: center;
	flex-basis: 100%;

	@media screen and (min-width: $desktop) {
		text-align: start;
		flex-basis: auto;
	}
}

.footer__sub-header {
	display: inline-block;
	margin-top: 0;
	margin-bottom: 20px;
	padding: 0;

	@include font(700, 14px, 1.15, 0.03em);
	text-transform: uppercase;
	color: var(--bc-white);
}

.footer__sub-form {
	display: flex;
	align-items: center;
	width: 100%;

	@media screen and (max-width: ($desktop - 1px)) {
		flex-direction: column;
		row-gap: 20px;
	}

	@media screen and (min-width: $desktop) {
		flex-direction: row;
		column-gap: 12px;
	}
}

.footer__sub-field {
	position: relative;

	@media screen and (max-width: ($mobile - 1px)) {
		width: 100%;
	}
	@media screen and (min-width: $mobile) and (max-width: ($tablet - 1px)) {
		width: 450px;
	}
	@media screen and (min-width: $tablet) and (max-width: ($desktop - 1px)) {
		width: 450px;
	}
	@media screen and (min-width: $desktop) {
		width: 358px;
	}
}

.footer__sub-input {
	margin: 0;
	padding-left: 16px;
	padding-right: 0;

	width: 100%;
	height: 50px;

	color: var(--bc-white);

	border-radius: 4px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	background-color: transparent;
}

.footer__sub-label {
	position: absolute;
	left: 16px;
	top: 50%;
	transform: translateY(-50%);

	font-size: 16px;
	line-height: 1.25;
	color: var(--bc-semi-white);
	transition: transform 1000ms var(--timing-function);
}

.footer__sub-input:focus {
	border: 1px solid var(--bc-blue);
	outline: none;
}

.footer__sub-input:focus + .footer__sub-label,
.footer__sub-input:not(:placeholder-shown) + .footer__sub-label {
	@media screen and (max-width: ($mobile - 1px)) {
		transform: translateY(-50%) translateX(167px);
	}

	@media screen and (min-width: $mobile) and (max-width: ($desktop - 1px)) {
		transform: translateY(-50%) translateX(371px);
	}

	@media screen and (min-width: $desktop) {
		transform: translateY(-50%) translateX(279px);
	}
}

.sub-button {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	width: 200px;
	height: 50px;
	margin: 0;
	padding: 0;

	@include font(700, 16px, 1.88, 0.06em);
	color: var(--bc-white);

	background-color: var(--bc-blue);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.sub-button::after {
	content: "";
	width: 24px;
	height: 24px;
	background-image: url(../images/send.svg);
	background-size: contain;
}
